@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <head>
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fascinate&display=swap" rel="stylesheet">
    </head>

<div class="text-center">
    <h1 class="display-4">This Is A Practice Website</h1>
    <p>This Project's <a href="https://github.com/thelastphysician/MyPracticeSite">Github</a>.</p>
</div>

<div class="card-columns">
@foreach (var product in Model.Products)
{

    <a href ="/ProductPage">
        
        <div class="card">
            @{
                var ret = product.AvrRatings;
                if (ret == -1)
                {
                    <h5 class="card-rating"> No Rating</h5>
                }
                else
                {
                @*<div class="card-rating">
                    <img src="data/RatingImage.png">
                </div>*@
                    
                    <h5 class="card-rating"> @ret </h5>
                }

            }
            <div class="card-img" style="background-image:url('@product.Image');"> </div>
            <div class="card-body">

                <h5 class="card-title">@product.Title</h5>




                <! –– and the comment closes with ––>
            </div>


        </div>
        </a>
        }
</div>